#1 What are data structures, and why are they important?
Data structure is a way of organising and storing of data so that it can be accessed and manipulated efficiently.


*  Importance of Data Structure:-
1. It provides efficient way to store data
2. It makes data more efficient for computers to process information.
3. It gives an organised and efficient way to manipulate and analyise of data

#2.  Explain the difference between mutable and immutable data types with examples?


*   Mutable types- It means that database structure which can be changed. For eg - List, sets, Dicitonary.
*   Immutable data types - It means that database structure which can't be changed.
eg- Tuples.

#3. What are the main differences between lists and tuples in Python?
1. List have square brackets[] while tuples have parenthesis bracket().
2. Lists are mutable data structure while tuples are immutable data structure.
3. Lists are slower because they need more time to handle changes in lists while tuples are more faster.
4. lists are used when collection data may change after some time while tuples are used to store data which shouldn't be changed over the period of time.

#4.  Describe how dictionaries store data?
Dictionary stores data as key value pair.
For example - {"name":"Divya", "age":"24"}

#5. Why might you use a set instead of a list in Python?
1. Sets are the data structure that stores data in an unordered and unique elements while stores ordered set of data
2. Sets doesn't allow duplicate elements while list allows duplicates .
3. Set has mathematical set operations like union, intersection, difference and symmetric while lists don't have any built-in operations.

#6. What is a string in Python, and how is it different from a list?
String is a data structure in python which stores the sequence of characters enclosed in double quotes.
For example - "DIVYA"
 #Difference
1. String is different from lists as lists stores ordered collection of hetergeneous data types in square brackets.
2. String is Immutable while lists are mutable.

#7. How do tuples ensure data integrity in Python?
As tuples are immutable data structure which means items stored in tuples can't be changed or altered(add or modified) this ensures the integrity.

#8. What is a hash table, and how does it relate to dictionaries in Python?
Hash table is a data structure that stores key-value pairs.
When you create a dictionary, python usesa hash function to generate a unique hash value for each key and then used to determine the index whether the corrosponding value is stored.

#9. Can lists contain different data types in Python?
Yes, lists can store different data types as it stores heterogenous data.

#10.  Explain why strings are immutable in Python?
Strings are immutable in python because of the following reasons:-
1. Memory efficiency - String in python utilizes the memory more efficiently
2. When you modify(concatenation or slicing) a string python creates a new string while original string remains unchanged
3. Immutability ensures the integrity and safety of the data.
4. Immutable string can be used as keys in dictionary because of its stable hash value.

#11. What advantages do dictionaries offer over lists for certain tasks?
1. A lists store any type of data while keys in dictionaries can be of any immutable data type and value can be of any data type.
2. Data can be easily and faster accessable using key in dictionary instead of indexing in lists.
3. Dictionary helps in mapping the complex data more efficiently.

#12.  Describe a scenario where using a tuple would be preferable over a list?
Tuples are great to use when you don't want to change your data that is you want to keep your data in read only format.

#13.  How do sets handle duplicate values in Python?
Sets stores the data in an unique and unordered way it means it removes the duplicate values from the data.

#14. How does the “in” keyword work differently for lists and dictionaries?
When used with lists, "in" checks whether a value existes in lists or not while on the other hand When used with dictionaries, "in"  checks whether a key exists or not.

#15. Can you modify the elements of a tuple? Explain why or why not?
No, elements of tuple cannot be changed because tuples are immutable.
Immutable means data cannot changed or altered once it is created.

#16. What is a nested dictionary, and give an example of its use case?
Nested dictionary means a dictionary inside a dictionary. Its a collection of multiple dictionary into one single dictionary.
For example-
 Employe = {
  "E001":{"name":"Ram","department":"engineering","salary":7500}
  "E002":{"name":"Shyam", "department":"marketing", "salary": 70000}
 }

#17.  Describe the time complexity of accessing elements in a dictionary?
Accessing an elements using key has an constant time operations i.e. O(1), however in worst case scenarios  it degrades to O(n).
Dictionaries uses hash table to store data which makes element accessable more efficiently.

#18.  In what situations are lists preferred over dictionaries?
Lists are prefered over dictionaries for quick data lookups and for ordered collection and sequence of data.

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries considered unordered this is because the internal hash table intends to store data in fast accesible not in order.
Data retrieval remains still faster accessible and promotes independent of order.

#20. Explain the difference between a list and a dictionary in terms of data retrieval.
In lists data are retrieved using their index value while in dictionary data is retrieved through their unique keys.
In list you can't access data by label while in dicitonary you can't access data by suing index value.

In [ ]:
#1 Write a code to create a string with your name and print it.
string = "DIVYA RAGHAV"
print(string)

DIVYA RAGHAV

In [ ]:
#2 Write a code to find the length of the string "Hello World".
string = "Hello World"
len(string)

11

In [ ]:
#3 Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
string[0:3]

'Pyt'

In [ ]:
#4 Write a code to convert the string "hello" to uppercase.
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [ ]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple
Fruit = "I like apple"
Fruit.replace("apple","orange")

'I like orange'

In [ ]:
#6 Write a code to create a list with numbers 1 to 5 and print it.
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1, 2, 3, 4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1, 2, 3, 4, 5]
list.remove(3)
list

[1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ["a", "b", "c", "d"]
list[1]

'b'

In [ ]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]
list = [10, 20, 30, 40, 50]
list[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [ ]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple = ("red","green","blue", "yellow")
tuple[-2]

'blue'

In [ ]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tuple = (10, 20, 5, 15)
min(tuple)

5

In [ ]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
b = ("dog","cat", "rabbit")
b.index("cat")

1

In [ ]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruit = ("apple", "banana","kiwi")
"kiwi" in fruit

True

In [ ]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {"a", "b","c"}
print(set)

{'c', 'a', 'b'}

In [ ]:
#17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set = {1, 2, 3, 4, 5}
set.clear()
set

set()

In [ ]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}
set1 = {1, 2, 3, 4}
set1.remove(4)
set1

{1, 2, 3}

In [ ]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [ ]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1.intersection(set2)

{2, 3}

In [ ]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict = {"name":"Divya", "age":24, "city":"Gurgaon"}
print(my_dict)

{'name': 'Divya', 'age': 24, 'city': 'Gurgaon'}

In [ ]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
my_dict1 = {"name":"john", "age":25}
my_dict1["country"] = "USA"
my_dict1

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
#23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict3 = {"name":"Alice", "age":30}
dict3["name"]

'Alice'

In [ ]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4 = {"name":"Bob","age":22, "city":"New York"}
dict4.pop("age")
dict4

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict5 = {"name":"Alice", "city":"paris"}
"city" in dict5

True

In [ ]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all
list5 = [1, 2, 3, 4.5, True, "Ajay"]
tuple5 = (1, 4.6, "Raghav", False)
my_dict6 = {"name":"Raja", "age":34, "city":"Gurgaon"}
print(list5)
print(tuple5)
print(my_dict6)

[1, 2, 3, 4.5, True, 'Ajay']
(1, 4.6, 'Raghav', False)
{'name': 'Raja', 'age': 34, 'city': 'Gurgaon'}

In [ ]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
number = [98, 54, 45, 36, 63]
number.sort()
print("result.replaced is",number)

result.replaced is [36, 45, 54, 63, 98]

In [ ]:
#28 Write a code to create a list with strings and print the element at the third index
list8 = ["potato", "tomato", "brinjal", "cabbage"]
print("The element at the third index:", list8[3])

The element at the third index: cabbage

In [ ]:
#29 Write a code to combine two dictionaries into one and print the result
my_dict4 = {"name":"John" , "age": 35, "city":"New York"}
my_dict5 = {"Job profile": "Engineer", "Salary": 80000}
my_dict4.update(my_dict5)
my_dict4

{'name': 'John',
 'age': 35,
 'city': 'New York',
 'Job profile': 'Engineer',
 'Salary': 80000}

In [1]:
#30 Write a code to convert a list of strings into a set.
number_list = ["1", "2", "3", "4", "5"]
number_update = set(number_list)
print(number_update)

{'3', '4', '2', '5', '1'}